*{
    box-sizing: border-box;
}
.glass{
        float: left;
        margin-left: 10px;
        margin-right: 20px;
        padding: 10px;
}

*{
    box-sizing: border-box;
}
.enchanted{
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
}

*{
    box-sizing: border-box;
}

.love{
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
}